@import 'globals';
@import 'variables';

main {
    @include center-item;
    flex-direction: column;

    @media (min-width: 69em) {
        height: 100vh;
    }
}

.card {
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 5rem 1.7rem;
    
    @media (min-width: 69em) {
        display: flex;
        margin: 0;
    }
    
    h1, p {
        margin-top: 0;
    }

    &__bgcolor{
        @include flex-column;
        align-items: start;
        width: 21.8rem;
        padding: 3rem;

        @media (min-width: 69em) {
            width: 307px;
            height: 500px;
        }


        &--orange{
            background-color: $bOrange;
        }

        &--cyan{
            background-color: $dCyan;
        }

        &--darkCyan{
            background-color: $vdCyan;
        }
    }

    &__logo {
        margin-bottom: 1.6rem;
        max-width: 4.4rem;
        height: auto;
    }

    &__heading {
        margin-bottom: 1.6rem;
        text-transform: uppercase;
        font-size: 2.3rem;
        font-family: 'Big Shoulders Display', cursive;
        color: $grey;
    }

    &__para{
        line-height: 1.7;
        color: $white;
        margin-bottom: 2rem;

        @media (min-width: 69rem) {
            margin-bottom: 5.2rem;
        }
    }

    &__link{
        text-decoration: none;
        background-color: $grey;
        border: 2px solid $grey;
        padding: 1.06rem 2.26rem;
        border-radius: 3rem;
        transition: 400ms ease-in-out;
        
        &:hover {
            color: $grey;
            background-color: transparent;
        }
        
        &--orange {
            color: $bOrange;
        }

        &--cyan {
            color: $dCyan;
        }

        &--darkCyan {
            color: $vdCyan;
        }
    }
}